*{
    font-family: 'Poppins', serif;
}
.color{
    background-color: #DEECFF;
}
@media screen and (max-width: 990px) {
    Nav{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    .navitem{
        font-size: 15px;
        font-weight: 300;
    }
}
  